Debug/
*.suo
*.opensdf
*.sdf
nlp/NlpFileConverter.zip
nlp/NlpFileConverter/NlpFileConverter/Data/CRF/output/
nlp/NlpFileConverter/NlpFileConverter/Data/CRF/devdebug.zip
nlp/NLPIntegratedTool/NLPIntegratedTool/ltp_data/
pingme.txt
nlp/NLPIntegratedTool/NLPIntegratedTool/bin/
nlp/NLPIntegratedTool/NLPIntegratedTool/obj/
nlp/NLPIntegratedTool/NLPIntegratedTool/Exe/NNPooling/NNpooling/
nlp/NLPIntegratedTool/NLPIntegratedTool/Exe/NNPooling/experiment_data/
nlp/NLPIntegratedTool/NLPIntegratedTool/Exe/林扬.zip
nlp/NlpFileConverter/NlpFileConverter/hotel1a.txt
